<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.axzhengxin.dao.DinnerInfoMapper" >
  <resultMap id="BaseResultMap" type="com.axzhengxin.dto.DinnerInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userId" property="userId" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="data" property="data" jdbcType="TIMESTAMP" />
    <result column="bak" property="bak" jdbcType="VARCHAR" />
    <result column="bak1" property="bak1" jdbcType="VARCHAR" />
    <result column="bak2" property="bak2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, userId, name, data, bak, bak1, bak2
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from dinnerinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from dinnerinfo
    where name = #{name,jdbcType=VARCHAR} and data <![CDATA[>=]]> curdate()
  </select>
  <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from dinnerinfo
    where userId = #{userId,jdbcType=VARCHAR} and data <![CDATA[>=]]> curdate()
  </select>
  <select id="selectAllDinner" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from dinnerinfo
    where data <![CDATA[>=]]> curdate()
  </select>
  <select id="selectDinnerNum" resultType="java.lang.Integer">
    select 
     count(*)
    from dinnerinfo
    where data <![CDATA[>=]]> curdate() and data <![CDATA[<=]]> now()
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from dinnerinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.axzhengxin.dto.DinnerInfo" >
    insert into dinnerinfo (id, userId, name, 
      data, bak, bak1, bak2
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{data,jdbcType=TIMESTAMP}, #{bak,jdbcType=VARCHAR}, #{bak1,jdbcType=VARCHAR}, #{bak2,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.axzhengxin.dto.DinnerInfo" >
    insert into dinnerinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        userId,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="data != null" >
        data,
      </if>
      <if test="bak != null" >
        bak,
      </if>
      <if test="bak1 != null" >
        bak1,
      </if>
      <if test="bak2 != null" >
        bak2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="data != null" >
        #{data,jdbcType=TIMESTAMP},
      </if>
      <if test="bak != null" >
        #{bak,jdbcType=VARCHAR},
      </if>
      <if test="bak1 != null" >
        #{bak1,jdbcType=VARCHAR},
      </if>
      <if test="bak2 != null" >
        #{bak2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.axzhengxin.dto.DinnerInfo" >
    update dinnerinfo
    <set >
      <if test="userId != null" >
        userId = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="data != null" >
        data = #{data,jdbcType=TIMESTAMP},
      </if>
      <if test="bak != null" >
        bak = #{bak,jdbcType=VARCHAR},
      </if>
      <if test="bak1 != null" >
        bak1 = #{bak1,jdbcType=VARCHAR},
      </if>
      <if test="bak2 != null" >
        bak2 = #{bak2,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.axzhengxin.dto.DinnerInfo" >
    update dinnerinfo
    set userId = #{userId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      data = #{data,jdbcType=TIMESTAMP},
      bak = #{bak,jdbcType=VARCHAR},
      bak1 = #{bak1,jdbcType=VARCHAR},
      bak2 = #{bak2,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>